h1 {
    color: #b7b7b7;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: unset;
    margin-top: unset;
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
}

h2,
h3,
h4 {
    color: #618ec6;
    text-transform: uppercase;
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
}

p {
    font-size: 16px;
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin: 8px 0
}

h2~p {
    margin-top: unset
}

.sr-only {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0
}

.content__default {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: self-start;
    -ms-flex-align: self-start;
    align-items: self-start
}

#latest-release+h2 {
    margin-top: 6px
}

#release-notes {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 100%;
    max-width: calc(50% - 4px - 35px);
    padding-left: 35px;
    padding-top: 2.4rem

    display: inline-block;
    vertical-align: top;
}

#release-notes h2 {
    color: #147db9;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px
}

#logo {
    max-width: 190px
}

#news-section {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: 100%;
    max-width: calc(50% - 4px) !important;
    margin-top: 1.5rem

    display: inline-block;
    vertical-align: top;
}

#news-section section {
    position: relative;
    max-width: calc(100% - 4px - 40px);
    padding: 3rem 20px;
    -webkit-box-shadow: 0 0 1px 1px rgba(237, 237, 237, .7490196078);
    box-shadow: 0 0 1px 1px rgba(237, 237, 237, .7490196078);
    border-radius: 10px;
    margin-top: 1.5rem
}

#news-section section:after {
    content: "";
    display: block;
    width: calc(100% - 4px - 40px);
    border-bottom: 1px solid #f3f3f3;
    position: absolute;
    bottom: 10px;
    left: 20px
}

#news-section h2 {
    color: #618ec6;
    text-transform: uppercase;
    font-size: 22px;
    margin-top: unset;
    margin-bottom: unset;
    border-bottom: unset
}

#news-section p~img {
    color: #a1a1a1;
    margin-bottom: unset
}

#news-section .link {
    color: #5b9def;
    text-transform: uppercase;
    font-size: 17px;
    text-decoration: underline
}

#news-section .button {
    padding: 14px 21px;
    background: #5b9def;
    color: #fff;
    border-radius: 33px;
    text-transform: uppercase;
    font-size: 18px;
    margin: auto;
    display: block;
    text-align: center;
    max-width: calc(100% - 4px - 100px)
}

#news-section .link-border-bottom {
    display: block;
    border-bottom: 1px solid #eaecef;
    padding-bottom: 40px;
    margin-bottom: 40px
}

#news-section .youtube-icon {
    display: block;
    margin: auto
}

#news-section .youtube-icon~h2 {
    font-size: 19px;
    color: #4c5256;
    margin-top: 6px;
    font-weight: 600;
    margin-bottom: unset
}

#news-section .youtube-icon~h2~p {
    margin-top: unset
}

#news-section .youtube-icon~h2~p~a {
    background-color: #ef655b
}

#news-section .center-text {
    text-align: center
}

#news-section iframe{
    border:unset;
    overflow: hidden; 
    height: 2500px;
    width: 100%;
}

.footer {
    margin: auto;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3
}

.footer-links p {
    font-size: 10px;
    text-align: center
}

.footer-links a {
    color: gray
}